<h1 align="center" class="display-4 mb-5">Orders</h1>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">Order #</th>
        <th scope="col">Order Data</th>
        <th scope="col">Delivery Data</th>
        <th scope="col">Order Status</th>
        <th scope="col">Total Amount</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let order of orders">
        <th class="align-middle" scope="row">
            {{order.orderNumber}}
        </th>
        <td class="align-middle">{{order.orderDate | date:'longDate'}}</td>
        <td class="align-middle">{{order.deliveryDate | date:'longDate'}}</td>
        <td class="align-middle">{{order.orderStatus}}</td>
        <td class="align-middle">{{order.orderAmount | currency}}</td>
    </tr>
    </tbody>
</table>
